

/* custom.css
   Author: Chaitanya Chaturvedi
*/

body {
  margin: 0 auto;
  padding: 0;
}

li a {
  font-family: Montserrat, sans-serif;
}

.navbar {
  background-color: #ebedef;
}

.jumbotron {
  background-color: #bd8516;
}

header {
  background-color: transparent !important;
}

.row-header {
  margin: 0 auto;
  padding: 0;
}

.row-content {
  margin: 0 auto;
  padding: 2.5vw 0;
}

.padding {
  padding: 2.5vw 0;
}

h1 {
  font-family: Montserrat, sans-serif;
}

h2 {
  font-family: "Oswald", sans-serif;
  color: #545454;
}

h3 {
  font-family: "Oswald", sans-serif;
  color: #545454;
}

.list {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  color: #545454;
  text-align: left;
}

p {
  font-family: Montserrat, sans-serif;
  font-size: larger;
}

.footer {
  background-color: #ebedef;
}

.footer {
  color: black;
  background: #2BC0E4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2BC0E4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2BC0E4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 400% 400%;
  animation: gradient 7s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.navbar {
  background: #2BC0E4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2BC0E4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2BC0E4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 400% 400%;
  animation: gradient 7s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
