

/* custom.css
   Author: Chaitanya Chaturvedi
*/

html, body {
  overflow-x: hidden;
}

body p {
  font-family: 'Karla', sans-serif;
}

body {
  margin: 0 auto;
  padding: 0;
}

.navbar {
  background-color: #8EE4AF;
  font-family: 'Karla', sans-serif;
  font-size: larger;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.navbar a {
  color: #05386B;
}

.row-header {
  margin: 0 auto;
  padding: 0;
}

.row-content {
  margin: 0 auto;
  padding: 2.5vw 0;
}

.padding {
  padding: 2.5vw 0;
}

h2 {
  font-family: "Oswald", sans-serif;
  color: #545454;
}

h3 {
  font-family: "Oswald", sans-serif;
  color: #545454;
}

.list {
  font-size: 1em;
  color: #545454;
  text-align: left;
}

.footer {
  background-color: #8EE4AF;
  color: #05386B;
  font-family: 'Karla', sans-serif;
}
